{% extends 'base.html' %}

{% block content %}

			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row">
							<div class="col-9 col-12-medium">

								<!-- Main Content -->
									<section>
										<header>
											<h2>Order Form</h2>
											<h3>Please fill out and submit the form below! We will contact you within a few days!</h3>
										</header>
										<form action="">
											{{ form.hidden_tag() }}
											<div class="form-group">
												<fieldset>
													{{ form.first_name.label }}
													{{ form.first_name(class='form-control', placeholder='First Name') }}
												</fieldset>
												<fieldset>
													{{ form.last_name.label }}
													{{ form.last_name(class='form-control', placeholder='Last Name') }}
												</fieldset>
												<fieldset>
													{{ form.email.label }}
													{{ form.email(class='form-control', placeholder='Email') }}
												</fieldset>
												<fieldset>
													{{ form.address.label }}
													{{ form.address(class='form-control', placeholder='Address') }}
												</fieldset>
												<fieldset>
													{{ form.phone_num.label }}
													{{ form.phone_num(class='form-control', placeholder='Phone Number') }}
												</fieldset>
												<fieldset>
													{{ form.msg.label }}
													{{ form.msg(class='form-control', placeholder='Message') }}
												</fieldset>
												{{ form.submit(class="btn btn-danger", style='margin-top: 30px;') }}
											</div>
										</form>
									</section>

							</div>
							<div class="col-3 col-12-medium">

								<!-- Sidebar -->
									<section>
										<header>
											<h2>Contact Info</h2>
										</header>
										<ul class="link-list">
											<li>Address</li>
											<li>Phone Number</li>
											<li>Email</li>
											<li>Hours of Operation</li>
										</ul>
									</section>
									<section>
										<header>
											<h2>Ipsum Dolor</h2>
										</header>
										<p>
											Vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
											iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat.
										</p>
										<ul class="link-list">
											<li><a href="#">Sed dolore viverra</a></li>
											<li><a href="#">Ligula non varius</a></li>
											<li><a href="#">Dis parturient montes</a></li>
											<li><a href="#">Nascetur ridiculus</a></li>
										</ul>
									</section>

							</div>
						</div>
					</div>
				</section>

{% endblock content %}